<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Book</display-name>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.book.controller.HomeServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>signupServlet</servlet-name>
  	<servlet-class>com.book.controller.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signupServlet</servlet-name>
  	<url-pattern>/signupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FileDownloadServlet</servlet-name>
  	<servlet-class>com.book.controller.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileDownloadServlet</servlet-name>
  	<url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.book.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.book.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
</web-app>